@font-face {
    font-family: bold;
    src: url(Fuentes/Roboto-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(Fuentes/Roboto-Regular.ttf);
}

@font-face {
    font-family: light;
    src: url(Fuentes/Roboto-Light.ttf);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(217deg, #13142D, rgba(255, 0, 0, 0) 100%),
        linear-gradient(127deg, #13142D, #69AEFF 50.45%),
        linear-gradient(127deg, #FFFFFF, #69AEFF 50.45%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}

#main {
    display: grid;
    grid-template-columns: 80% 20%;
    color: white;
    margin: 3rem 7rem;
}

.left {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.title {
    font-size: clamp(1rem, 9vw, 6rem);
    font-family: bold;
}

.sub-title {
    font-family: light;
    font-size: clamp(1rem, 8vw, 6rem);
}

p {
    font-family: light;
    max-width: 72rem;
    padding-top: 1rem;
    font-size: clamp(1rem, 2vw, 2.2rem);
}

img {
    position: absolute;
    width: 30vw;
    right: 2vw;
    filter: drop-shadow(1px 3px 30px #13142D);
}

.sombra {
    position: absolute;
    width: 33vw;
    height: 5vw;
    left: 67vw;
    top: 46vw;

    background: radial-gradient(50% 50% at 50% 50%, #000000 21.87%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: overlay;
    filter: blur(12.5px);

}

.enter a {
    text-decoration: none;
    font-family: bold;
    font-size: clamp(1rem, 5vw, 3rem);
}

.button {
    display: inline-flex;
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    cursor: pointer;
    z-index: 0;
    box-shadow: 0 5px 10px 0cm rgba(0, 0, 0, 0.5);
    margin-left: 32vw;
  }
  .button a:hover{
    color: rgb(253, 253, 253);
  }
  .button:hover {
    background: #0a0a18;
    box-shadow: 2px 5px 10px 100cm rgba(41, 40, 40, 0.5);
  }
  
  .button:active {
    transform: scale(0.97);
  }
  
  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hoverEffect div {
    background: #5d5fe9;
    background: linear-gradient(
      90deg,
      #69AEFF 80%,
      #2D2F4D 80%,

    );
    border-radius: 40rem;
    max-width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(50px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
  }
  
  .button:hover .hoverEffect div {
    max-width: 8rem;
    height: 8rem;
  }
  
  @keyframes effect {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
@media (max-width:431px){
    body{
        overflow: hidden;
        background-size: cover;
    }

    .title {
        width: 70vw;
        margin-left: -3rem;
    }
    .sub-title {
        width: 30rem;
        margin-left: -3rem;
    }
    
    p.text1 {
        margin-left: -3rem;
        width: 10rem;
        padding-top: 2.5rem;
        font-size: clamp(1rem, 2vw, 2.2rem);
    }
    p.text2{
        width: 20rem;
        margin-left: -4rem;
    }
    
    img {
        width: 52vw;
        left: 13rem;
        top: 10rem;
    }
    
    .button {
        margin-left: 2rem;
        margin-top: 2rem;
      }
    
}
  