@font-face{
    src: url(../Fuentes/Roboto-Light.ttf);
    font-family: light;
}
@font-face{
    src: url(../Fuentes/Roboto-Regular.ttf);
    font-family: regular;
}
@font-face {
    font-family: bold;
    src: url(../Fuentes/Roboto-Bold.ttf);
}
:root{
    --color--one: #14162C;
    --color--one--rgba: #191b3fdf;
    --color--two: #cfcfd1;
    --color--three: #298bfe;
    --color--four: #e52d2d;
    --color--five: #ffffff;
    --color--six: #ffd733;

    --layout-description-container-x: 10px;
    --layout-description-container-y: 10px;
}

*{
    margin: 0;
}
*::-webkit-scrollbar {
    height: 12px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: var(--color--five);
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {

    border: 1px solid var(--color--five);
    background-color: var(--color--one--rgba);
}
body{
    flex-wrap: wrap;
    overflow-x: hidden;
    background: linear-gradient(#171930,#363757);
    width: 100vw;
    height: 100vh;
}
.botones{
    position: fixed;
    display: flex;
    background-color: #1a1c48;
    bottom: 0;
    width: 25rem;
    height: 5rem;
    justify-content: space-evenly;
    left: 50%;
    transform: translateX(-50%);
    font-family: light;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
    padding: 0 4%;
}
.icons{
    width: 20%;
    margin-top: 3%;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;
}
.icons img{
    width: 40%;
}
.icons p{
    margin: 0;
    text-align: center;
    color: white;
}
.actual{
    margin: 0;
}
.actual::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: 8%;
    border-radius: 2px;
    height: 4%;
    background-color: white;
}
#all{
    display: flex;
    justify-content: center;
    text-align: center;

}
#right{
    width: 25vw;
    height: 100vh;
}
.contenido{
    font-size: clamp(2rem, 5vw, 1.5rem);
    font-family: regular;
}
.reuse{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 8rem;
    margin-top: 7rem;
    width: 20rem;
    height: 2rem;
}
.water{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 8rem;
    margin-top: 3rem;
    width: 20rem;
    height: 2rem;
}
.land{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 8rem;
    margin-top: 3rem;
    width: 20rem;
    height: 2rem;
}
#imagenes{
    width: 20vw;
    height: 20vw;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    align-items: center;
    margin: 2rem 8rem;
}
#imagenes img{
    width: 20vw;
    height: 15vw;
}
#center{
    width: 70vw;
    height: 100vh;
}
#import{
    width: 28rem;
    height: 28rem;
    margin: 10rem 11rem;
}
#name{
    color: white;
    font-size: clamp(2rem, 5vw, 3rem);
    font-family: bold;
}
#logo{
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 2rem 4rem;
    border-radius: 100%;
    filter: drop-shadow(3px 4px 15px  white);
}
#information{
    margin-top: -4rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: bold;
    font-size: clamp(1rem, 5vw, 2rem);
}
#left{
    width: 25vw;
    height: 100vh;
}
.last_up{
    color: white;
    font-family: regular;
    width: 23rem;
    margin-left: -10rem;
    margin-top: 10rem;
    height: 3rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
   
}
#details{
    font-family: light;
    color: white;
    width: 20rem;
    height: 15rem;
    margin: 10rem -9rem;
}

/* .paginacion{
    width: 11rem;
    height: 1.3rem;
    margin-left: -1rem;
    margin-top: 20rem;
    background-color: #cfcfd1;
} */
.paginacion{
    position: absolute;
    position: fixed;
    right: 5rem;   
    bottom: 4rem;
    display: flex;
    border-radius: 10px;
    border: solid rgb(255, 255, 255);
    overflow: hidden;
}
.paginacion button{
    color: white;
    padding: 0.5rem 0.7rem;
    background-color: #1a1c48;
    border: none;
}
.paginacion button:hover{
    background-color: #298bfe;
}