@font-face{
    src: url(../Fuentes/Roboto-Light.ttf);
    font-family: light;
}
@font-face{
    src: url(../Fuentes/Roboto-Regular.ttf);
    font-family: regular;
}
@font-face {
    font-family: bold;
    src: url(../Fuentes/Roboto-Bold.ttf);
}
:root{
    --color--one: #14162C;
    --color--one--rgba: #191b3fdf;
    --color--two: #cfcfd1;
    --color--three: #298bfe;
    --color--four: #e52d2d;
    --color--five: #ffffff;
    --color--six: #ffd733;

    --layout-description-container-x: 10px;
    --layout-description-container-y: 10px;
}

*{
    margin: 0;
}
*::-webkit-scrollbar {
    height: 12px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: var(--color--five);
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {

    border: 1px solid var(--color--five);
    background-color: var(--color--one--rgba);
}
body{
    overflow-x: hidden;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(217deg, #13142D, rgba(255, 0, 0, 0) 100%),
        linear-gradient(127deg, #13142D, #69AEFF 50.45%),
        linear-gradient(127deg, #FFFFFF, #69AEFF 50.45%);
}
.botones{
    position: fixed;
    display: flex;
    background-color: #1a1c48;
    bottom: 0;
    width: 25rem;
    height: 5rem;
    justify-content: space-evenly;
    left: 50%;
    transform: translateX(-50%);
    font-family: light;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
    padding: 0 4%;
}
.icons{
    width: 20%;
    margin-top: 3%;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;
}
.icons img{
    width: 40%;
}
.icons p{
    margin: 0;
    text-align: center;
    color: white;
}
.actual{
    margin: 0;
}
.actual::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: 8%;
    border-radius: 2px;
    height: 4%;
    background-color: white;
}
#all{
}
#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
#logotipo img{
    width: 15rem;
}
.last_up{
    margin-right: 7rem;
    color: white;
    font-family: regular;
    font-size: clamp(1rem, 3vw, 1.2rem);
}
#left{
    border-radius: 20px;
    margin: 0 auto;
    width: 50%;
    border: 1px solid white;
    overflow-x: auto; 
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
}
#lanzamientos{
    height: 60vh;
    min-width: 100vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#logo_name{
    display: flex;
    gap: 2rem;
    height: 5rem;
    width: 100%;
    margin: 2rem 22rem;
}
#name{
    color: white;
    font-size: clamp(1rem, 5vw, 2.8rem);
    font-family: bold;
}
#logo img{
    width: 6rem;
    margin-top: -1rem;
}
.details{
    font-family: light;
    font-size: 1.3rem;
    color: white;
    padding: 2rem;
    width: 45rem;
}
#pictures{
    width: 40%;
    display: flex;
    justify-content: center;
}
.imagenes{
    width: 20vw;
    height: 20vw;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    align-items: center;
}
.imagenes img{
    border-radius: 10px;
    width: 20vw;
    height: 15vw;
}
.contenido{
    margin: 2rem auto;
    width: 55rem;
    
    display: flex;
    justify-content: space-around;
    font-family: light;
    color: white;
}
#info{
    width: 5rem;
    background-color: #13142D;
    height: 5rem;
    border-radius: 100%;
    gap: 2rem;
}
p.conte{
    text-align: center;
    margin: 1.8rem 0;
    font-size: clamp(1rem, 5vw, 0.9rem);
}
h3{
    text-align: center;
    font-family: bold;
}
.paginacion{
    position: fixed;
    right: 5rem;   
    bottom: 5rem;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(20px);
}
.paginacion button{
    color: white;
    padding: 0.5rem 0.7rem;
    background-color: inherit;
    border: none;
}
.paginacion button:hover{
    background-color: #14162C;
}
@media (max-width:930px){
    body{
        width: 100%;
        height: auto;
        overflow-y: scroll
    }
    #right{
        width: 100%;
    }
    #import{
        width: 100%;
    }
    #logo img{
        width: 3rem;
    }
    #name{
        font-size: 1rem;
    }
    #all{
        flex-wrap: wrap;
    }
    .contenido{
        margin: 4rem auto;
        width: 80%;
    }
    #information{
        width: 80%;
        margin: 4rem auto;
    }
    .last_up{
        margin: 0 auto;
        width: 80%;
    }
    #left{
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10rem;
    }
    #lanzamientos{
        padding: 0;
        width: 100%;
        margin: 0 auto;
    }
    #info_lanzamiento{
        width: 80%;
    }
    #details{
        font-size: 1rem;
        width: 80%;
        padding: 1rem;
    }
    #pictures{
        margin: 0 auto;
    }
    .imagenes{
        width: 40vw;
        height: 35vw;
    }
    .imagenes img{
        width: 40vw;
        height: 30vw;
    }
    .botones{
        width: 20rem;
    }
}