@font-face{
    src: url(../Fuentes/Roboto-Light.ttf);
    font-family: light;
}
@font-face{
    src: url(../Fuentes/Roboto-Regular.ttf);
    font-family: regular;
}
@font-face {
    font-family: bold;
    src: url(../Fuentes/Roboto-Bold.ttf);
}
:root{
    --color--one: #14162C;
    --color--one--rgba: #191b3fdf;
    --color--two: #cfcfd1;
    --color--three: #298bfe;
    --color--four: #e52d2d;
    --color--five: #ffffff;
    --color--six: #ffd733;

    --layout-description-container-x: 10px;
    --layout-description-container-y: 10px;
}

*{
    margin: 0;
}
*::-webkit-scrollbar {
    height: 12px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: var(--color--five);
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {

    border: 1px solid var(--color--five);
    background-color: var(--color--one--rgba);
}
body{
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(217deg, #13142D, rgba(255, 0, 0, 0) 100%),
        linear-gradient(127deg, #13142D, #69AEFF 50.45%),
        linear-gradient(127deg, #FFFFFF, #69AEFF 50.45%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}
.botones{
    position: fixed;
    display: flex;
    background-color: #1a1c48;
    bottom: 0;
    width: 25rem;
    height: 5rem;
    justify-content: space-evenly;
    left: 50%;
    transform: translateX(-50%);
    font-family: light;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
    padding: 0 4%;
}
.icons{
    width: 20%;
    margin-top: 3%;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;
}
.icons img{
    width: 40%;
}
.icons p{
    margin: 0;
    text-align: center;
    color: white;
}
.actual{
    margin: 0;
}
.actual::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: 8%;
    border-radius: 2px;
    height: 4%;
    background-color: white;
}
#all{
    display: flex;
}
#right{
    width: 35rem;
}
.contenido{
    border-radius: 10px;
    margin: 4rem 5rem;
    padding: 1rem;
    width: 25rem;
    font-size: clamp(1rem, 5vw, 1.3rem);
    display: flex;
    flex-direction: column;
    font-family: light;
    color: white;
}
.reuse{
    display: flex;
}
.water{
    display: flex;
}
.land{
    display: flex;
}
.serial{
    display: flex;
}
.status{
    display: flex;
}
.type{
    display: flex;
}
#information{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 25rem;
    justify-content: space-between;
    color: white;
    font-size: bold;
    font-size: clamp(1rem, 5vw, 1.3rem);
    padding: 1rem;
    margin: 4rem 5rem;
}
.last_up{
    color: white;
    font-family: regular;
    margin-left: 5rem;
    width: 25rem;
    padding: 1rem;
    font-size: clamp(1rem, 3vw, 1.2rem);
}
#left{
    border-radius: 20px;
    margin-top: 4rem;
    overflow-y: scroll;
    width: 65%;
    height: 44rem;
    border: 1px solid white;
}
#lanzamientos{
    border-top: 1px solid white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#info_lanzamiento{
    width: 50%;
    min-width: 20rem;
}
#import{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 5rem;
    width: 100%;
}
#name{
    color: white;
    font-size: clamp(2rem, 5vw, 2rem);
    font-family: bold;
}
#logo img{
    width: 5rem;
    filter: drop-shadow(3px 4px 15px  white);
}
#details{
    font-family: light;
    font-size: 1.3rem;
    color: white;
    padding: 2rem;
    text-align: start;
}
#pictures{
    width: 50%;
    display: flex;
    justify-content: center;
}
.imagenes{
    width: 20vw;
    height: 20vw;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    align-items: center;
}
.imagenes img{
    border-radius: 10px;
    width: 20vw;
    height: 15vw;
}
.paginacion{
    position: fixed;
    right: 5rem;   
    bottom: 5rem;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(20px);
}
.paginacion button{
    color: white;
    padding: 0.5rem 0.7rem;
    background-color: inherit;
    border: none;
}
.paginacion button:hover{
    background-color: #14162C;
}
@media (max-width:930px){
    body{
        width: 100%;
        height: auto;
        overflow-y: scroll
    }
    #right{
        width: 100%;
    }
    #import{
        width: 100%;
    }
    #logo img{
        width: 3rem;
    }
    #name{
        font-size: 1rem;
    }
    #all{
        flex-wrap: wrap;
    }
    .contenido{
        margin: 4rem auto;
        width: 80%;
    }
    #information{
        width: 80%;
        margin: 4rem auto;
    }
    .last_up{
        margin: 0 auto;
        width: 80%;
    }
    #left{
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10rem;
    }
    #lanzamientos{
        padding: 0;
        width: 100%;
        margin: 0 auto;
    }
    #info_lanzamiento{
        width: 80%;
    }
    #details{
        font-size: 1rem;
        width: 80%;
        padding: 1rem;
    }
    #pictures{
        margin: 0 auto;
    }
    .imagenes{
        width: 40vw;
        height: 35vw;
    }
    .imagenes img{
        width: 40vw;
        height: 30vw;
    }
    .botones{
        width: 20rem;
    }
}