@font-face{
    src: url(../Fuentes/Roboto-Light.ttf);
    font-family: light;
}
@font-face{
    src: url(../Fuentes/Roboto-Regular.ttf);
    font-family: regular;
}
*{
    margin: 0;
}
body{
    background: linear-gradient(#171930,#363757);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.botones{
    position: fixed;
    display: flex;
    background-color: #1a1c48;
    bottom: 0;
    width: 25rem;
    height: 5rem;
    justify-content: space-evenly;
    left: 50%;
    transform: translateX(-50%);
    font-family: light;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
    padding: 0 4%;
}
.icons{
    width: 20%;
    margin-top: 3%;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;
}
.icons img{
    width: 40%;
}
.icons p{
    margin: 0;
    text-align: center;
    color: white;
}
.actual{
    margin: 0;
}
.actual::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: 8%;
    border-radius: 2px;
    height: 4%;
    background-color: white;
}
h1{
    text-align: center;
    font-family: regular;
    color: white;
}
.tres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-evenly;
}
.info1{
    width: 15rem;
    overflow-y: scroll;
    height: 75vh;
    font-family: light;
}
.info1 h2{
    font-family: regular;
}
.seccion{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    color: white;
}
.info2{
    width: 60%;
    border: 1px solid white;
    min-width: 40rem;
    right: 0;
}
.info3{
    width: 15rem;
    overflow-y: scroll;
    height: 75vh;
    font-family: light;
    border: 1px solid white;
}