@font-face{
    src: url(../Fuentes/Roboto-Light.ttf);
    font-family: light;
}
@font-face{
    src: url(../Fuentes/Roboto-Regular.ttf);
    font-family: regular;
}
:root{
    --color--one: #14162C;
    --color--one--rgba: #191b3fdf;
    --color--two: #cfcfd1;
    --color--three: #298bfe;
    --color--four: #e52d2d;
    --color--five: #ffffff;
    --color--six: #ffd733;

    --layout-description-container-x: 10px;
    --layout-description-container-y: 10px;
}

*{
    margin: 0;
}
*::-webkit-scrollbar {
    height: 12px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: var(--color--five);
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {

    border: 1px solid var(--color--five);
    background-color: var(--color--one--rgba);
}
body{
    overflow-x: hidden;
    background: linear-gradient(#171930,#363757);
    width: 100vw;
    min-height: 100vh;
    background-size: contain;
}
.botones{
    position: fixed;
    display: flex;
    background-color: #1a1c48;
    bottom: 0;
    width: 25rem;
    height: 5rem;
    justify-content: space-evenly;
    left: 50%;
    transform: translateX(-50%);
    font-family: light;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
    padding: 0 4%;
}
.icons{
    width: 20%;
    margin-top: 3%;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;
}
.icons img{
    width: 40%;
}
.icons p{
    margin: 0;
    text-align: center;
    color: white;
}
.actual{
    margin: 0;
}
.actual::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: 8%;
    border-radius: 2px;
    height: 4%;
    background-color: white;
}
h1{
    text-align: center;
    font-family: regular;
    color: white;
}
.tres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-evenly;
}
.info1{
    width: 15rem;
    height: 35rem;
    font-family: light;
    overflow-y: scroll;
}
.info1 h2{
    font-family: regular;
}
.seccion{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    color: white;
}
.info2{
    width: 60%;
    border: 1px solid white;
    display: flex;
    min-width: 40rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    right: 0;
}
.info3{
    width: 15rem;
    height: 35rem;
    font-family: light;
}
h3{
    color: white;
    margin-top: 2rem;
}
.valores{
    display: flex;
    color: white;
    position: relative;
}
.valores span{
    position: absolute;
    right: 0;
    top: -20px;
}
progress{
    width: 60%;
}
.parte1{
    width: 20%;
    height: 100%;
}
.parte2{
    width: 40%;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
}
.carousel__item{
    margin-top: 15rem;
}
.carousel__item img{
    min-width: 15rem;
    width: 100%;
}
.parte3{
    width: 20%;
    height: 100%;
}
.item__progress__bar {
    margin: 3rem auto;
    color: var(--color--five);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(
        closest-side, 
        #1d1f38 85%, 
        transparent 85% 100%), 
        conic-gradient(var(--color--three) 
        80%, 
        transparent 0);  
    transform: rotate(180deg); 
  }
.progress__value{
    display: flex;
    flex-direction: column;
    transform: rotate(180deg); 
    font-family: regular;
}
.info_rocket{
    font-family: regular;
    padding: 0 1rem;
}
.info_rocket h3{
    text-align: center;
}
.info_rocket div{
    display: flex;
    margin-top: 1rem;
    color: white;
}
.info_rocket p{
    width: 50%;
}
.info_rocket span{
    width: 50%;
    font-weight: 700;
    text-align: end;
}
@media(max-width:880px){
    .info2{
        margin-top: 2rem;
    }
}
@media(max-width:700px){
    .tres{
        display: block;
    }
    .info1{
        margin: 0 auto;
        height: 25rem;
    }
    .info2{
        min-width: 15rem;
        flex-direction: column;
        margin: 2rem auto;
    }
    .parte1,.parte2,.parte3{
        margin: 0 auto ;
        width: 90%;
    }
    .carousel__item{
        margin-top: 3rem;
    }
    .info3{
        margin: 3rem auto;
    }
    .botones{
        width: 20rem;
    }
}