@font-face{
    src: url(../Fuentes/Roboto-Light.ttf);
    font-family: light;
}
@font-face{
    src: url(../Fuentes/Roboto-Regular.ttf);
    font-family: regular;
}
@font-face {
    font-family: bold;
    src: url(../Fuentes/Roboto-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(217deg, #13142D, rgba(255, 0, 0, 0) 100%),
        linear-gradient(127deg, #13142D, #69AEFF 50.45%),
        linear-gradient(127deg, #FFFFFF, #69AEFF 50.45%);
    
}
#principal{
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 4rem;
    gap: 2rem;
}
#left{
    backdrop-filter: blur(1rem);
    min-width: 25rem;
    width: 60%;
    border-radius: 30px;
    border: 2px solid white;
    margin: auto;
}
#parte1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#logo img{
    width: 15rem;
    margin: 2rem 3rem;
}
#img_sede{
    min-width: 10rem;
    width: 25%;
}
#img_sede img{
    width: 100%;
    border-radius: 15px;
}
#info_sede{
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    color: white;
}
#info_sede div{
    display: flex;
}
h4{
    padding-left: 1rem;
    font-size: clamp(1rem, 2vw, 1.8rem);
    font-family: regular;
}
#principal p{
    padding-left: 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: light;
}
#resumen{
    text-align: center;
    color: white;
    margin-top: 2rem;
    width: 60%;
}
#list{
    display: flex;
    flex-wrap: wrap;
}
#parte2{
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
    color: white;
}
#parte3{
    border: 1px solid white;
    border-radius: 50px;
    backdrop-filter: blur(100%);
    padding: 1rem;
    width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
}
#parte3 div img{
    width: 3rem;
    height: 3rem;
    border-radius: 12px;
}
#right{
    width: 33%;
    display: flex;
    min-width: 20rem;
}
#fundador{
    max-width: 25rem;
    width: 90%;
    min-height: 20rem;
    border: 2px solid white;
    border-radius: 15px;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: clamp(1rem, 5vw, 2rem);
    font-family: regular;
}
#img_funda img{
    width: 10rem;
    border-radius: 50%;
    background-color: #cfcfd1;
}
.botones{
    position: fixed;
    display: flex;
    background-color: #1a1c48;
    bottom: 0;
    width: 25rem;
    height: 5rem;
    justify-content: space-evenly;
    left: 50%;
    transform: translateX(-50%);
    font-family: light;
    clip-path: polygon(6% 0, 94% 0, 100% 100%, 0% 100%);
    padding: 0 4%;
}
.icons{
    width: 20%;
    margin-top: 3%;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;
}
.icons img{
    width: 40%;
}
.icons a{
    text-decoration: none;
}
.icons p{
    margin: 0;
    text-align: center;
    color: white;
}
.actual{
    margin: 0;
}
.actual::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: 8%;
    border-radius: 2px;
    height: 4%;
    background-color: white;
}
@media(max-width:1020px){
    #principal{
        flex-direction: column-reverse;
        margin: 1rem 0;
        margin-bottom: 10rem;
    }
    #right{
        width: 80%;
        margin: 1rem auto;
    }
    #left{
        width: 80%;
        min-width: 0;
        margin: 1rem auto;
    }
    #fundador{
        margin: 1rem auto;
    }
}
@media(max-width:725px){
    #resumen{
        margin-top: 2rem;
        width: 15rem;
    }
    #iconos{
        width: 1.5rem;
    }
    #parte3 div img{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 5px;
    }
    .botones{
        width: 20rem;
    }
    #list{
        flex-direction: column;
    }
    #list h4{
        margin-top: -1.5rem;
        margin-left: 1.5rem;
    }
    #list p{
        margin-left: 1.5rem;
    }
}